body{
    background-color: rgb(14, 6, 6);
}
h1{
    font-family: Roboto Mono;
    color: rgb(211, 45, 45);
    font-size: 60px;
    text-align: left;
}
p{

}

img{
    max-width: 40vw;
    margin-right: auto;
    display: block;
    transform: rotateZ(8deg);
    position: relative;
    z-index: 1;
}
.homework{
    font-family: Roboto Mono;
    font-size: 15px;
    text-align: right;
    color: rgb(255, 140, 255);
    font-family: Roboto Mono;
    display: grid;
    position: relative;
    z-index: 2;
    margin-top: -500px;
}
a{
    font-family: Roboto Mono;
    font-size: 15px;
    text-align: right;
    color: rgb(255, 140, 255);
    font-family: Roboto Mono;
}