
body {
    background: linear-gradient(-25deg, #181818, #ecbaf8, #f392d6, #000000);
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    margin: 0;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  model-viewer {
    width: 90vw;
    height: 90vh;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  div{
      display: flex;
      border: white solid 1px;
      width: 90vw;
      align-content: center;
      margin-left: auto;
      margin-right: auto;s
  }
  p{
      color: white;
      font-family: Varela Round;
      padding: 1em;
  }
  a{
      color: white;
  }