body{
    background-color: white;
    color: black;
}
.content{
    /* border: 1px dashed black; */
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: bold;
}
.Tittle {
    /* max-width: 10vw; */
    text-align: center;
    color: black;
    font-size: .7vw;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: crimson;
}
.question-mark{
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: bold;
}
.question-text{
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: lighter;
    /* border: dotted 1px black; */
    padding: 2em;
}
.exclamation{
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: lighter;
    /* border: dotted 1px black; */
    padding: 1em;
    /* color: white; */
    /* font-size: 10vw; */
}
.sad-face{
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: bold;
}
.unnecessary{
    text-align: left;
    color: black;
    font-size: 3vw;
    align-items: left;
    justify-content:left;
    flex-direction:left;
    display: flex;
    font-weight: bold;
    z-index: 1;
    position: relative;
}
.unnecessary:hover{
    font-size: 5vw;
}
/* .page3{
    background: white
  animation: color-me-in 30s;
}
@keyframes color-me-in {
    /* You could think of as "step 1" */
    0% {
      background: white;
    }
    /* You could think of as "step 2" */
    100% {
      background: orange;
    } */
  }
  .uggly {
       transition: all 5s ease-in-out;
       text-align: center;
    color: black;
    font-size: 3vw;
    align-items: center;
    justify-content:center;
    flex-direction:center;
    display: center;
    font-weight: bold;
    z-index: 2;
    position: relative;
     }
.uggly:hover { transform: scale(1.6); }
.exclamation-mark{
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: bold;
}
.dash{
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: lighter;
    /* border: dotted 1px black; */
    padding: 2em;
}
.apostrophe{
    align-items: center;
    justify-content:center;
    flex-direction:column;
    display: flex;
    font-weight: lighter;
    /* border: dotted 1px black; */
    padding: 2em;
    z-index: 2;
    position: relative;
}
.gentle{
    color: orchid;
}
.flower{
    color: orchid;
    z-index: 1;
    position: relative;
    align-items: center;
    animation: createBox 8s infinite;

}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1); scale: (0.5);
  }
}
.text{
    align-items: left;
    justify-content:left;
    flex-direction:column;
    display: flex;
    font-weight: lighter;
    /* border: dotted 1px black; */
    padding: 2em;
}
.stop {
    animation-duration: s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .table-of-contents{
    align-items: flex-start;
    /* justify-content: center; */
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    width: 50vw;
    font-weight: bold;
    border: 0.5px black dashed; 
  }
  .main-tittle{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    font-size: .4vw;
    margin: 0;
  }
  .column1{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    flex-direction: row;
    font-size: .6vw;
    margin: 0;
  }
  .column2{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    flex-direction: row;
    font-size: .6vw;
    margin: 0;
  }
  .column3{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    flex-direction: row;
    font-size: .6vw;
    margin: 0;
  }
  .period{
      align-items: center;
  }
  .navigation-bar{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    width: 60vw;
    font-weight: bold;
    /* border: 0.5px black dashed; */
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: black;
    font-size: 0.4vw;
    margin: 0;
    padding: 1em;
    font-weight: bold;
  }

 @media (max-width: 650px) {
  .Tittle{
    font-size: 0.85vw;
  }
  .icons{
    font-size: 0.8vw;}
.main-tittle{
  font-size: 1.2vw;
  font-weight: lighter;
}
 body{
  font-size: 16px;
} 
  .table-of-contents{
    width: 70vw;
    height: 60vh;
    align-items: center;
  }
.table-icons{
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: center;

}
.main-icon{
  font-size: 1vw;
  font-weight: lighter;
}
.dots{
 font-size: 1vw;
 height: 2vh;
}
.powerful{
  font-size: 1.5vw;
}
  } 
   */
  .table-icons{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    color: black;
    font-size: .4vw;
    padding: 5em;
  }
  .table-icons{
     display: flex;
    justify-content: center;
    color: black;
    font-size: .4vw;
    padding: 5em;
   
  }
/* .main-icon{
  display: flex;
  justify-content: center;
  align-items: center;
   margin: 0;
  font-size: .4vw;
}  */
.breath{
/* display: flex;
justify-content: center;
align-items: center;
position: relative;
align-items: center; */
align-items: center;
justify-content:center;
flex-direction:column;
display: flex;
font-weight: lighter;
/* border: dotted 1px black; */
padding: 1em;
/* color: white; */
/* font-size: 10vw; */
font-size: 0.6vw;
animation: breathe 5s infinite;

}
@keyframes breathe {
  50% {
    transform: scaleX(1.3) scaleY(1.1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.paragraph{
  align-items: center;
  justify-content:center;
  flex-direction:column;
  display: flex;
  font-weight: lighter;
  /* border: dotted 1px black; */
  padding: 1em;
  /* color: white; */
  /* font-size: 10vw; */
}